/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  color: #333;
}

/* Dashboard Container */
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

/* Sidebar Styles */
.sidebar {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 1rem;
  width: 250px;
  min-width: 200px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 1rem 0;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar ul li span {
  margin-right: 10px;
  font-size: 1.2rem;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 1rem;
  background-color: #fff;
  overflow-y: auto;
}

/* Charts Container */
.charts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.chart {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(50% - 1rem);
  padding: 1rem;
  text-align: center;

}

.chart canvas {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}

/* Table Container */
.table-container {
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-container h3 {
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #2c3e50;
  color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Responsive Design */
@media (max-width: 768px) {
  .charts-container {
      flex-direction: column;
  }

  .chart {
      flex: 1 1 200%;
  }

  .sidebar {
      width: 100%;
      text-align: center;
  }

  .sidebar ul li {
      justify-content: center;
  }
}
